#cloud-config
users:
  - name: freecodecamp
    groups:
      - sudo
      - docker
    shell: /bin/bash
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    ssh_import_id:
      - gh:camperbot
      - raisedadead
runcmd:
  # Configure sshd
  - |
    sed -i -e '/^PermitRootLogin/s/^.*$/PermitRootLogin no/' /etc/ssh/sshd_config
    sed -i -e '/^PasswordAuthentication/s/^.*$/PasswordAuthentication no/' /etc/ssh/sshd_config
    sed -i -e '/^PubkeyAuthentication/s/^.*$/PubkeyAuthentication yes/' /etc/ssh/sshd_config
    sed -i -e '$aAllowUsers freecodecamp' /etc/ssh/sshd_config
  # :-----------------------: WARNING :-----------------------:
  #
  #   This next line should be the last command in the list,
  #   because it involves restarting the ssh service.
  #
  # :-----------------------: WARNING :-----------------------:
  - systemctl restart sshd
final_message: "Setup complete"
