apiVersion: "clickhouse-keeper.altinity.com/v1"
kind: "ClickHouseKeeperInstallation"
metadata:
  name: keeper
  namespace: clickhouse
spec:
  defaults:
    templates:
      podTemplate: default
      volumeClaimTemplate: keeper-storage

  configuration:
    clusters:
      - name: keeper
        layout:
          replicasCount: 3
    settings:
      logger/level: warning

  templates:
    podTemplates:
      - name: default
        spec:
          containers:
            - name: clickhouse-keeper
              image: clickhouse/clickhouse-keeper:25.8
              imagePullPolicy: IfNotPresent
              resources:
                requests:
                  memory: "128Mi"
                  cpu: "100m"
                limits:
                  memory: "512Mi"
                  cpu: "500m"
          securityContext:
            fsGroup: 101

    volumeClaimTemplates:
      - name: keeper-storage
        spec:
          accessModes:
            - ReadWriteOnce
          storageClassName: local-path
          resources:
            requests:
              storage: 5Gi
