---
plugin: community.digitalocean.digitalocean
api_token: "{{ lookup('ansible.builtin.env', 'DO_API_TOKEN') }}"
attributes:
  - id
  - name
  - tags
  - networks
# Convert hyphens to underscores (valid Ansible format, e.g., _tools-k3s -> tools_k3s)
# DO, will send tags, like: _tools-k3s
keyed_groups:
  - key: do_tags | map('regex_replace', '^_', '') | map('regex_replace', '-', '_') | list
    prefix: ""
    separator: ""
compose:
  ansible_host: do_networks.v4 | selectattr('type','eq','public') | map(attribute='ip_address') | first
