apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: appsmith-data
  namespace: appsmith
spec:
  accessModes:
  - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 10Gi
