apiVersion: v1
kind: Service
metadata:
  name: appsmith
  namespace: appsmith
  labels:
    app: appsmith
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: appsmith
