x-logging-config: &logging-config
  logging:
    driver: loki
    options:
      loki-url: ${LOKI_URL}
      loki-tenant-id: ${LOKI_TENANT_ID:-fCC-o11y-oncall-v20250113-0001}
      loki-external-labels: stack=oncall

services:
  svc-cronjob:
    image: crazymax/swarm-cronjob:1.14.0
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    environment:
      - "TZ=UTC"
      - "LOG_LEVEL=info"
      - "LOG_JSON=true"
    logging:
      driver: loki
      options:
        loki-url: ${LOKI_URL}
        loki-tenant-id: ${LOKI_TENANT_ID:-fCC-o11y-oncall-v20250113-0001}
        loki-external-labels: container_name={{.Name}},stack=oncall,service=cronjob,app=swarm-cronjob
        loki-retries: "2"
        loki-max-backoff: 800ms
        loki-timeout: 1s
    deploy:
      placement:
        constraints:
          - "node.role == manager"

  svc-update:
    image: shizunge/gantry:2025.0813.0
    environment:
      - "TZ=UTC"
      - "GANTRY_NODE_NAME={{.Node.Hostname}}"
      - "GANTRY_SLEEP_SECONDS=0"
      - "GANTRY_LOG_LEVEL=INFO"
      - "GANTRY_SERVICES_FILTERS=label=org.freecodecamp.autoupdate"
      - "GANTRY_SERVICES_EXCLUDED_FILTERS=name=stg-news"
      - "GANTRY_UPDATE_NUM_WORKERS=3"
      - "GANTRY_MANIFEST_NUM_WORKERS=5"
      - "GANTRY_MANIFEST_CMD=buildx"
      - "GANTRY_CLEANUP_IMAGES=true"
      - "GANTRY_ROLLBACK_ON_FAILURE=true"
      - "GANTRY_UPDATE_TIMEOUT_SECONDS=300"
      - "GANTRY_UPDATE_OPTIONS=--with-registry-auth"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/home/freecodecamp/.docker:/root/.docker"
    logging:
      driver: loki
      options:
        loki-url: ${LOKI_URL}
        loki-tenant-id: ${LOKI_TENANT_ID:-fCC-o11y-oncall-v20250113-0001}
        loki-external-labels: container_name={{.Name}},stack=oncall,service=update,app=gantry
        loki-retries: "2"
        loki-max-backoff: 800ms
        loki-timeout: 1s
    deploy:
      mode: replicated
      replicas: 0
      restart_policy:
        condition: none
      labels:
        - "swarm.cronjob.enable=true"
        - "swarm.cronjob.replicas=1"
        # Fire every hour, on the 45th minute mark
        - "swarm.cronjob.schedule=0 45 0/1 * * *"
        # Fire every 1 minute -- for testing
        # - "swarm.cronjob.schedule=* * * * *"
        - "swarm.cronjob.skip-running=true"
      placement:
        constraints:
          - "node.role == manager"

  # Runs as a backup to Gantry's automatic cleanup
  svc-cleanup:
    image: docker:29.2.0
    command:
      - "docker"
      - "system"
      - "prune"
      - "-f"
      - "--filter"
      - "until=168h"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    logging:
      driver: loki
      options:
        loki-url: ${LOKI_URL}
        loki-tenant-id: ${LOKI_TENANT_ID:-fCC-o11y-oncall-v20250113-0001}
        loki-external-labels: container_name={{.Name}},stack=oncall,service=cleanup,app=docker
        loki-retries: "2"
        loki-max-backoff: 800ms
        loki-timeout: 1s
    deploy:
      mode: global
      labels:
        - "swarm.cronjob.enable=true"
        # Fire every Monday at 03:30 UTC
        - "swarm.cronjob.schedule=0 30 3 * * 1"
        - "swarm.cronjob.skip-running=false"
      restart_policy:
        condition: none

  svc-webhook:
    image: lwlook/webhook@sha256:93f708c6c0d6469b4a0f7f654d5f25054e54dccba1cf316a1d7e48e2be736c9a
    command:
      - "-verbose"
      - "-hooks=/hooks.json"
      - "-hotreload"
      - "-template"
    ports:
      - published: 9889
        target: 9000
        protocol: tcp
        mode: host
    configs:
      - source: hooks_json
        target: /hooks.json
      - source: run_gantry
        target: /run_gantry.sh
        mode: 0550
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/home/freecodecamp/.docker:/root/.docker"
    environment:
      - "WEBHOOK_SECRET=${WEBHOOK_SECRET}"
    logging:
      driver: loki
      options:
        loki-url: ${LOKI_URL}
        loki-tenant-id: ${LOKI_TENANT_ID:-fCC-o11y-oncall-v20250113-0001}
        loki-external-labels: container_name={{.Name}},stack=oncall,service=webhook,app=webhook
        loki-retries: "2"
        loki-max-backoff: 800ms
        loki-timeout: 1s
    deploy:
      replicas: 1
      restart_policy:
        condition: any
      placement:
        constraints:
          - "node.role == manager"

configs:
  hooks_json:
    file: ./hooks.json
  run_gantry:
    file: ./run_gantry.sh
