x-logging-config: &logging-config
  logging:
    driver: loki
    options:
      loki-url: ${LOKI_URL}
      loki-tenant-id: ${LOKI_TENANT_ID:-fCC-o11y-oncall-v20250113-0001}
      loki-external-labels: stack=oncall

services:
  svc-cronjob:
    image: crazymax/swarm-cronjob:1.14.0
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    environment:
      - "TZ=UTC"
      - "LOG_LEVEL=debug"
      - "LOG_JSON=false"
    logging:
      driver: loki
      options:
        loki-url: ${LOKI_URL}
        loki-tenant-id: ${LOKI_TENANT_ID:-fCC-o11y-oncall-v20250113-0001}
        loki-external-labels: stack=oncall,service=cronjob,app=swarm-cronjob
    deploy:
      placement:
        constraints:
          - "node.role == manager"

  svc-update:
    image: shizunge/gantry:2025.0813.0
    environment:
      - "TZ=UTC"
      - "GANTRY_NODE_NAME={{.Node.Hostname}}"
      - "GANTRY_SLEEP_SECONDS=0"
      - "GANTRY_LOG_LEVEL=INFO"
      - "GANTRY_SERVICES_FILTERS=label=org.freecodecamp.autoupdate"
      - "GANTRY_UPDATE_NUM_WORKERS=3"
      - "GANTRY_MANIFEST_NUM_WORKERS=5"
      - "GANTRY_MANIFEST_CMD=buildx"
      - "GANTRY_CLEANUP_IMAGES=true"
      - "GANTRY_ROLLBACK_ON_FAILURE=true"
      - "GANTRY_UPDATE_TIMEOUT_SECONDS=300"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "/home/freecodecamp/.docker/config.json:/root/.docker/config.json:ro"
    logging:
      driver: loki
      options:
        loki-url: ${LOKI_URL}
        loki-tenant-id: ${LOKI_TENANT_ID:-fCC-o11y-oncall-v20250113-0001}
        loki-external-labels: stack=oncall,service=update,app=gantry
    deploy:
      mode: replicated
      replicas: 0
      restart_policy:
        condition: none
      labels:
        - "swarm.cronjob.enable=true"
        - "swarm.cronjob.replicas=1"
        # Fire every hour, on the 45th minute mark
        - "swarm.cronjob.schedule=0 45 0/1 * * *"
        # Fire every 1 minute -- for testing
        # - "swarm.cronjob.schedule=* * * * *"
        - "swarm.cronjob.skip-running=true"
      placement:
        constraints:
          - "node.role == manager"

  # Runs as a backup to Gantry's automatic cleanup
  svc-cleanup:
    image: docker:29.0.0
    command:
      - "docker"
      - "system"
      - "prune"
      - "-f"
      - "--filter"
      - "until=168h"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    logging:
      driver: loki
      options:
        loki-url: ${LOKI_URL}
        loki-tenant-id: ${LOKI_TENANT_ID:-fCC-o11y-oncall-v20250113-0001}
        loki-external-labels: stack=oncall,service=cleanup,app=docker
    deploy:
      mode: global
      labels:
        - "swarm.cronjob.enable=true"
        # Fire every Monday at 03:30 UTC
        - "swarm.cronjob.schedule=0 30 3 * * 1"
        - "swarm.cronjob.skip-running=false"
      restart_policy:
        condition: none
