apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: o11y

secretGenerator:
- name: o11y-secrets
  type: Opaque
  envs:
  - secrets/.secrets.env
  options:
    disableNameSuffixHash: true
- name: o11y-secret-cloudflare-origin-cert
  type: kubernetes.io/tls
  files:
  - tls.crt=secrets/tls.crt
  - tls.key=secrets/tls.key
  options:
    disableNameSuffixHash: true
