apiVersion: v1
kind: Service
metadata:
  name: n8n-main
  namespace: n8n
  labels:
    app: n8n
    component: main
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 5678
    name: http
  selector:
    app: n8n
    component: main
