apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: grafana

resources:
- namespace.yaml
- gateway.yaml
- httproutes.yaml

secretGenerator:
- name: grafana-secrets
  envs:
  - secrets/.secrets.env
- name: grafana-tls-cloudflare
  type: kubernetes.io/tls
  files:
  - tls.crt=secrets/tls.crt
  - tls.key=secrets/tls.key

generatorOptions:
  disableNameSuffixHash: true
