deploymentMode: Distributed

global:
  extraEnvFrom:
    - secretRef:
        name: o11y-secrets

loki:
  auth_enabled: true

  storage:
    type: s3
    bucketNames:
      chunks: "net.freecodecamp.o11y.01"
      ruler: "net.freecodecamp.o11y.01"
      admin: "net.freecodecamp.o11y.01"
    s3:
      endpoint: "nyc3.digitaloceanspaces.com"
      region: "nyc3"
      s3forcepathstyle: true
      insecure: false
      access_key_id: ""
      secret_access_key: ""

  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

  commonConfig:
    replication_factor: 3
    ring:
      kvstore:
        store: memberlist

  ingesterConfig:
    chunk_encoding: snappy

  bloom_build:
    enabled: true

  bloom_gateway:
    enabled: true

  querierConfig:
    max_concurrent: 32
    query_timeout: 5m
    query_ingesters_within: 3h
    grpc_client_config:
      max_recv_msg_size: 33554432
      max_send_msg_size: 33554432
    cache_config:
      enable_fifocache: true
      default_validity: 24h
      fifocache:
        max_size_mb: 1024

  pattern_ingester:
    enabled: true

  limits_config:
    allow_structured_metadata: true
    retention_period: 30d
    split_queries_by_interval: 1h
    max_query_lookback: 720h
    max_query_length: 721h
    max_query_parallelism: 32
    max_entries_limit_per_query: 50000
    max_cache_freshness_per_query: 1h
    query_timeout: 5m
    volume_enabled: true

  gateway:
    enabled: true
    resources:
      requests:
        cpu: 15m
        memory: 32Mi
      limits:
        cpu: 50m
        memory: 128Mi
    basic_auth:
      enabled: true
      username: loki

serviceAccount:
  create: true
  name: o11y-loki

ingester:
  replicas: 3
  zoneAwareReplication:
    enabled: false
  persistence:
    enabled: true
    size: 50Gi
  resources:
    requests:
      cpu: 100m
      memory: 768Mi
    limits:
      cpu: 300m
      memory: 1536Mi

distributor:
  replicas: 2
  maxUnavailable: 1
  resources:
    requests:
      cpu: 50m
      memory: 256Mi
    limits:
      cpu: 150m
      memory: 512Mi

querier:
  replicas: 3
  maxUnavailable: 1
  resources:
    requests:
      cpu: 200m
      memory: 768Mi
    limits:
      cpu: 600m
      memory: 1536Mi

queryFrontend:
  replicas: 2
  maxUnavailable: 1
  config:
    query_stats_enabled: true
    grpc_client_config:
      max_recv_msg_size: 33554432
      max_send_msg_size: 33554432
    cache_config:
      enable_fifocache: true
      default_validity: 24h
      fifocache:
        max_size_mb: 4096
  resources:
    requests:
      cpu: 50m
      memory: 768Mi
    limits:
      cpu: 150m
      memory: 1536Mi

queryScheduler:
  enabled: true
  replicas: 2
  resources:
    requests:
      cpu: 25m
      memory: 128Mi
    limits:
      cpu: 100m
      memory: 256Mi

compactor:
  enabled: true
  replicas: 1
  config:
    working_directory: /data/loki/compactor
    compaction_interval: 15m
    max_compaction_parallelism: 1
  persistence:
    enabled: true
    size: 30Gi
  resources:
    requests:
      cpu: 100m
      memory: 768Mi
    limits:
      cpu: 300m
      memory: 1536Mi

ruler:
  enabled: false

write:
  replicas: 0

read:
  replicas: 0

backend:
  replicas: 0

chunksCache:
  enabled: true
  resources:
    requests:
      cpu: 25m
      memory: 256Mi
    limits:
      cpu: 100m
      memory: 512Mi

resultsCache:
  enabled: true
  resources:
    requests:
      cpu: 25m
      memory: 256Mi
    limits:
      cpu: 100m
      memory: 512Mi

indexGateway:
  enabled: true
  replicas: 2
  maxUnavailable: 1
  config:
    index_cache_config:
      enable_fifocache: true
      fifocache:
        max_size_bytes: "1GB"
        validity: "24h"
  resources:
    requests:
      cpu: 150m
      memory: 512Mi
    limits:
      cpu: 400m
      memory: 1Gi

patternIngester:
  enabled: true
  replicas: 3
  resources:
    requests:
      cpu: 25m
      memory: 256Mi
    limits:
      cpu: 100m
      memory: 512Mi

bloomGateway:
  enabled: true
  replicas: 2
  resources:
    requests:
      cpu: 25m
      memory: 128Mi
    limits:
      cpu: 100m
      memory: 256Mi
