deployment:
  replicas: 2

nodeSelector:
  kubernetes.io/os: linux

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 100m
    memory: 256Mi

providers:
  kubernetesGateway:
    enabled: true
    experimentalChannel: false

gateway:
  enabled: false

service:
  enabled: true
  type: LoadBalancer
  annotations: {}

ports:
  web:
    port: 8000
    exposedPort: 80
    protocol: TCP
  websecure:
    port: 8443
    exposedPort: 443
    protocol: TCP
    tls:
      enabled: true
    transport:
      respondingTimeouts:
        readTimeout: "0s"    # Unlimited - for large log uploads to Loki
        writeTimeout: "0s"
        idleTimeout: "180s"

logs:
  general:
    level: INFO
  access:
    enabled: true

metrics:
  prometheus:
    enabled: true

securityContext:
  capabilities:
    drop: [ALL]
    add: [NET_BIND_SERVICE]
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 65532

podSecurityContext:
  fsGroup: 65532
