name: Build Machine Images

on:
  workflow_dispatch:
    inputs:
      region:
        description: 'the region to build the image in'
        required: true
        default: 'eastus'
        type: choice
        options:
          - 'eastus'
          - 'westus'
          - 'centralus'

jobs:
  build-images:
    name: Build Images
    runs-on: ubuntu-18.04

    env:
      AZURE_SERVICE_PRINCIPAL_CLIENT_ID:
        ${{ secrets.AZURE_SERVICE_PRINCIPAL_CLIENT_ID }}
      AZURE_SERVICE_PRINCIPAL_CLIENT_SECRET:
        ${{ secrets.AZURE_SERVICE_PRINCIPAL_CLIENT_SECRET }}
      AZURE_SERVICE_PRINCIPAL_TENANT_ID:
        ${{ secrets.AZURE_SERVICE_PRINCIPAL_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      # Packer's official GitHub Actions are unstable & outdated, use a community action instead
      - name: Use latest Packer
        uses: hashicorp-contrib/setup-packer@v1

      - name: Check Version
        run: |
          echo "Packer version: $(packer version)"

      - name: Build Images
        run: |
          packer init \
          -var location=${{ inputs.region }} \
          ./images/machines/azure/ubuntu.pkr.hcl

          packer validate \
          -var location=${{ inputs.region }} \
          ./images/machines/azure/ubuntu.pkr.hcl

          packer build \
          -var location=${{ inputs.region }} \
          ./images/machines/azure/ubuntu.pkr.hcl

          UBUNTU_ARTIFACT_NAME=$(cat manifest.json | jq '.builds[].artifact_id' | sed -r 's|.*/(.*)"$|\1|')
          echo Building the next image with: $UBUNTU_ARTIFACT_NAME

          packer init \
          -var location=${{ inputs.region }} \
          -var custom_managed_image_name=$UBUNTU_ARTIFACT_NAME \
          ./images/machines/azure/nginx.pkr.hcl

          packer validate \
          -var location=${{ inputs.region }} \
          -var custom_managed_image_name=$UBUNTU_ARTIFACT_NAME \
          ./images/machines/azure/nginx.pkr.hcl

          packer build \
          -var location=${{ inputs.region }} \
          -var custom_managed_image_name=$UBUNTU_ARTIFACT_NAME \
          ./images/machines/azure/nginx.pkr.hcl
