name: Build Docker Images

on:
  push:
    branches:
      - main
    paths:
      - 'images/containers/**/*'

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    strategy:
      fail-fast: false
      matrix:
        images: [ serve, landing-initial]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to the GHCR
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          cd images/containers/${{ matrix.images }}
          docker build . \
          --tag ghcr.io/freecodecamp/${{ matrix.images }}:${{ github.sha }} \
          --tag ghcr.io/freecodecamp/${{ matrix.images }}:latest \
          docker push --all-tags ghcr.io/freecodecamp/${{ matrix.images }}
