name: GitHub -- No Forks
on:
  pull_request_target:
    types: [opened, synchronize, reopened]

jobs:
  no-forks:
    runs-on: ubuntu-latest
    steps:
      - name: Comment and Close
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        if: ${{ github.event.pull_request.head.repo.full_name != 'freeCodeCamp/infra' }}
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: "Hey! We do not accept pull requests from forks (applicable to everyone, including staff and org members alike).\n\nThis code repository is a \"special\" case. While the code is open-source, we limit the scopes for automated builds, tests and deployments. If you are working on something, Please open a new pull request from a branch on this repository. If you need more help contact a member of the staff."
            })
            github.rest.pulls.update({
              pull_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: 'closed'
            })
